.if{
    text-align: center;
}


  
*{margin:0;padding:0;}
ul,li{list-style:none;}
#slide{width: 70%; 
    height:600px;position:relative;overflow:hidden; display: block; margin: 0px auto;}
#slide ul{height:100%;transition:1s; background-position: center; background-size: cover; background-repeat: no-repeat;}
#slide ul:after{content:"";display:block;clear:both;}
#slide li{float:left;width:25%;height:100%;}
#slide li:nth-child(1){background-image: url(./image/bubble.jpg);}
#slide li:nth-child(2){background-image:url(./image/galaxycchino.png);}
#slide li:nth-child(3){background-image:url(./image/postic.png);height:540px;}
#slide li:nth-child(4){background-image:url(./image/blue.jpg);}
#slide input{display:none;}
#slide label{display:inline-block;vertical-align:middle;width:20px;height:20px;border:2px solid #666;background:#fff;transition:0.3s;border-radius:50%;cursor:pointer; padding: 10px 10px;}
#slide .pos{text-align:center;position:absolute;bottom:10px;left:0;width:100%;text-align:center; }
#pos1:checked~ul{margin-left:0%;}
#pos2:checked~ul{margin-left:-100%;}
#pos3:checked~ul{margin-left:-200%;}
#pos4:checked~ul{margin-left:-300%;}
#pos1:checked~.pos>label:nth-child(1){background:#666;}
#pos2:checked~.pos>label:nth-child(2){background:#666;}
#pos3:checked~.pos>label:nth-child(3){background:#666;}
#pos4:checked~.pos>label:nth-child(4){background:#666;}